Repository v3rm0n/intercom_flutter, pull requests merged in 2021-01, with the labels that each got.

#113 [bugfix] Fix #112 App is crashing on iOS if token provided is null
  ios/Classes/IntercomFlutterPlugin.m
  lib/intercom_flutter.dart
Labels: crash, ios

#109 Android Example v2 embedding
  example/.gitignore
  example/.idea/codeStyles/Project.xml
  example/.idea/libraries/Dart_SDK.xml
  example/.idea/libraries/Flutter_Plugins.xml
  example/.idea/libraries/Flutter_for_Android.xml
  example/.idea/misc.xml
  example/.idea/modules.xml
  example/.idea/vcs.xml
  example/.idea/workspace.xml
  example/android/app/src/main/AndroidManifest.xml
  example/android/app/src/main/kotlin/io/maido/intercomexample/MainActivity.kt
  example/android/app/src/main/res/values/styles.xml
  example/pubspec.yaml
Labels: android, enhancement

#114 Added support for setting bottom padding
  CHANGELOG.md
  android/src/main/kotlin/io/maido/intercom/IntercomFlutterPlugin.kt
  ios/Classes/IntercomFlutterPlugin.m
  lib/intercom_flutter.dart
  pubspec.yaml
  test/intercom_flutter_test.dart
Labels: enhancement
