Repository v3rm0n/intercom_flutter, pull requests merged in 2022-01, with the labels that each got.

#204 Update native sdk
  intercom_flutter/README.md
  intercom_flutter/android/build.gradle
  intercom_flutter/example/ios/Podfile
  intercom_flutter/ios/intercom_flutter.podspec
Labels: platform-ios, platform-android

#192 Change Android push intercepting technique
  intercom_flutter/README.md
  intercom_flutter/android/src/main/AndroidManifest.xml
  intercom_flutter/android/src/main/java/io/maido/intercom/PushInterceptReceiver.kt
  intercom_flutter/android/src/main/java/io/maido/intercom/PushInterceptService.java
Labels: platform-android

#206 Version 6.0.0
  intercom_flutter/CHANGELOG.md
  intercom_flutter/pubspec.yaml
Labels: platform-dart
